@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: CircularStd-Black;
  src: url("./assets/fonts/CircularStd-Black.otf");
}
@font-face {
  font-family: CircularStd-Bold;
  src: url("./assets/fonts/CircularStd-Bold.otf");
}
@font-face {
  font-family: CircularStd-Book;
  src: url("./assets/fonts/CircularStd-Book.otf");
}
@font-face {
  font-family: CircularStd-Light;
  src: url("./assets/fonts/CircularStd-Light.otf");
}
@font-face {
  font-family: CircularStd-Medium;
  src: url("./assets/fonts/CircularStd-Medium.otf");
}

.ag-theme-alpine > * {
  font-family: "Inter", sans-serif;
}

.ag-header-cell-text {
  font-weight: 600 !important;
  font-size: 14px !important;
}

.ag-theme-alpine .ag-root-wrapper {
  border: solid 1px !important;
  border-color: #eaeaea !important;
  border-radius: 6px !important;
}

.ag-theme-alpine .ag-header {
  border-bottom: none !important;
}

body {
  margin: 0;
  font-family: CircularStd-Book, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f8f9fa; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
